 @import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');



 * {
     margin: 0;
     padding: 0;
     font-family: 'Work Sans';
 }

 body {
     max-width: 1920px;
 }

 /* shared style */

 .title {
     font-size: 2.5rem;
     font-weight: 700;
     color: #131313;
     padding: 0 20px;
 }

 .text-gray-para {
     color: #727272;
     font-size: 1rem;
 }

 .btn-primary {
     border-radius: 8px;
     background: #FF900E;
     color: #FFF;
     text-align: center;
     font-size: 1.25rem;
     padding: 20px 25px;
     border: none;
     margin-top: 32px;
     margin-bottom: 50px;
 }

 /* single style */
 .header {
     background: rgba(255, 144, 14, 0.10);
     justify-items: center;
     padding: 50px 240px;

 }

 .nav {
     display: flex;
     justify-content: space-between;
     justify-items: center;
     align-items: center;
 }

 .nav ul {
     display: flex;
     list-style: none;
 }

 .menu {
     margin-right: 20px;
     color: #424242;
     font-size: 1.25rem;
     font-weight: 500;
 }

 .banner {
     text-align: center;
     margin-top: 100px;
 }

 .banner-title {
     color: #131313;
     text-align: center;
     font-size: 4rem;
     font-weight: 700;
     margin-bottom: 30px;
 }

 .banner-content {
     max-width: 800px;
     text-align: center;
     margin: 0 auto;
 }

 .banner-content .text-gray-para {
     text-align: center;
     margin: auto;
 }

 .banner img {
     width: 100%;
 }

 /* main style */
 main {
     max-width: 1440px;
     margin: 0 auto;
 }



 .team-conteiner {
     display: flex;
     justify-items: center;
     align-items: center;
     margin: 0 100px;
 }

 .team-content {
     padding: 70px;
 }

 .teams-img {
     display: grid;
     grid-template-columns: repeat(2, 1fr);
     gap: 1.5rem;
 }

 .team-title {
     margin-bottom: 20px;
 }

 .qick-list {
     color: #727272;
     font-size: 3rem;
     font-weight: 500;
 }

 .of-Our {
     color: #131313;
     font-size: 45px;
     font-weight: 700;
 }

 .Features {
     color: #FF900E;
     font-size: 45px;
     font-weight: 700;
 }

 /* some fact style */

 .fect-conteiner {
     margin-top: 120px;
 }

 .award-content {
     display: flex;
     justify-content: space-around;
     /* max-width: 1442px; */
     margin-top: 100px;
 }

 .award {
     display: flex;
     flex-direction: column;
     border-radius: 8px;
     border: 1px solid #FF900E;
     width: 241.831px;
     height: 241.831px;
     justify-content: center;
     align-items: center;
     justify-items: center;

 }

 .award-img {
     width: 45.221px;
     height: 45.221px;
     margin-bottom: 10px;

 }

 .award-number {
     color: #424242;
     font-size: 2.75rem;
     font-weight: 600;
     margin: 10px;

 }

 .award-title {
     color: #727272;
     font-size: 1.25rem;
     font-weight: 600;
     margin-top: 5px;

 }

 .fect-conteiner .text-gray-para {
     padding: 20px;
 }

 /* Responsive media query */

 @media screen and (max-width: 576px) {

     .header,
     .team-content {
         padding: 20px;
         flex-direction: column;
     }

     .nav,
     .team-conteiner {
         flex-direction: column;
     }


     .nav ul,
     .banner,
     {
     margin-top: 20px;
 }

 .menu {
     margin-right: 15px;
     justify-content: space-between;
 }

 .team-conteiner {
     flex-direction: column-reverse;
     margin: 0;

 }

 .teams-img {
     grid-template-columns: repeat(1, 1fr);
 }

 .award-content {
     flex-direction: column;
     align-items: center;
     gap: 1.25rem;
     margin-top: 50px;
 }


 }





 /* for medium device */
 @media screen and (min-width: 576.1px) and (max-width:960px) {
     .header {
         padding: 20px;
     }

     .nav {
         flex-direction: column;
     }

     .nav ul,
     .banner {
         margin-top: 20px;
     }

     .team-conteiner {
         flex-direction: column-reverse;
         margin: 0;
     }

     .team-content {
         padding: 20px;
     }

     .award-content {
         flex-direction: column;
         align-items: center;
         gap: 1.25rem;
         margin-top: 50px;
     }

 }